<h1>Home Page</h1>

<h3>Razor Ramon 'The Bad Guy'<h3>
    
<iframe src="https://giphy.com/embed/14vMxlap9GEaCA" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<p><a href='/about'>Go to About Page</a></p>